#header {
  position: fixed;
  width: 100%;
}

#whiteHeader {
  background-color: #FFFFFF;
  height: 55px;

  @media only screen and (min-width: 671px){
    max-height: 75px;
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 1201px){
    max-height: 80px;
  }
}

#headerBG {
  display: none;

  @media only screen and (min-width: 671px){
    display: initial;
    position: absolute;
    top: 20%;
  }

}

#logo {
  position: relative;

  @media only screen and (min-width: 671px){
    position: absolute;
  }
}

#plus {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 45px;
}

#greyHeader {
  background-color: $graybar;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @media only screen and (min-width: 671px){
    height: 50px;
    justify-content: center;
  };
}

.dot {
  display: none;
  color: $lightgray;

  @media only screen and (min-width: 671px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
    text-align: center;
  }

}

.favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 25%;
  text-align: center;
  border-right: 1px solid $lightgray;
  &:last-child{
    border: 0;
  };
  font-family: $headingFont;
  color: $lightgray;
  &:hover {
    color: #EB582A;
  }

  @media only screen and (min-width: 671px){
    border-right: none;
    width: auto;

  }
}
