$graybar: #3A3A3D;
$lightgray: #818285;
$cardorange: #F7941E;
$headingFont: 'Oswald', sans-serif;
$textFont: 'Lato', sans-serif;

@import 'header';
@import 'content';

body {
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  margin: 0px;
  align-items: center;
}

.footerImg {
  display: none;
}


@media only screen and (min-width: 671px){

  .footerImg {
    display: none;
  }

}

@media only screen and (min-width: 1201px){


  #footer {
    height: 50px;
    background-color: $graybar;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;;
    bottom: 0;
    width: 100%
  }

  .footerImg {
    display: initial;
    padding: 5px;
  }
  

}
