#header {
  position: fixed;
  width: 100%; }

#whiteHeader {
  background-color: #FFFFFF;
  height: 55px; }
  @media only screen and (min-width: 671px) {
    #whiteHeader {
      max-height: 75px;
      display: flex;
      justify-content: center; } }
  @media only screen and (min-width: 1201px) {
    #whiteHeader {
      max-height: 80px; } }

#headerBG {
  display: none; }

#logo {
  position: relative; }
  @media only screen and (min-width: 671px) {
    #logo {
      position: absolute; } }

#plus {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 45px; }

#greyHeader {
  background-color: #3A3A3D;
  height: 45px;
  font-family: "Oswald", sans-serif;
  color: #818285;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.dot {
  display: none; }

.favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 25%;
  text-align: center;
  border-right: 1px solid #818285; }
  .favorites:last-child {
    border: 0; }
  @media only screen and (min-width: 671px) {
    .favorites {
      border-right: none; } }

body {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  margin: 0px;
  align-items: center; }

#content {
  padding: 5px;
  display: flex;
  justify-content: center; }

#content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 10px 10px 10px; }

.subContent {
  background-color: #FFFFFF;
  padding: 10px;
  width: 95%;
  margin-top: 10px;
  align-items: center;
  max-height: 300px;
  overflow: auto; }

.redditImage {
  width: 80%; }

.subImg {
  width: auto;
  align-items: center;
  display: flex;
  justify-content: center; }

.title {
  font-family: "Oswald", sans-serif;
  color: #3A3A3D;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px; }

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
  color: #818285;
  font-size: 11px;
  margin-top: 5px; }

.dot2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px; }

.selfText {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 14px;
  width: auto;
  margin-top: 10px; }

.footerImg {
  display: none; }

@media only screen and (min-width: 671px) {
  #headerBG {
    display: initial;
    position: absolute;
    top: 20%; }
  #greyHeader {
    background-color: #3A3A3D;
    height: 50px;
    font-family: "Oswald", sans-serif;
    color: #818285;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .dot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
    text-align: center; }
  .favorites {
    width: auto; }
  #content {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 125px 3vw 10px 3vw; }
  .subContent {
    background-color: #FFFFFF;
    padding: 10px;
    width: 38vw;
    margin: 10px;
    align-items: center;
    height: 400px;
    padding: 20px;
    overflow: auto; }
  .redditImage {
    width: 80%; }
  .subImg {
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center; }
  .title {
    font-family: "Oswald", sans-serif;
    color: #3A3A3D;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Lato", sans-serif;
    color: #818285;
    font-size: 12px; }
  .selfText {
    font-family: "Lato", sans-serif;
    color: black;
    font-size: 14px;
    width: auto;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .redditImage {
    width: 40%; }
  .footerImg {
    display: none; } }

@media only screen and (min-width: 1201px) {
  #greyHeader {
    max-height: 50px; }
  .dot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
    text-align: center; }
  .favorites {
    width: auto; }
  #content {
    padding: 125px 16vw 10px 16vw; }
  .subContent {
    background-color: #FFFFFF;
    padding: 10px;
    width: 20vw;
    margin: 10px;
    align-items: center;
    max-height: 300px;
    padding: 20px;
    overflow: auto; }
  #footer {
    height: 50px;
    background-color: #3A3A3D;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%; }
  .footerImg {
    display: initial;
    padding: 5px; } }

@media only screen and (min-width: 1701px) {
  #content {
    padding: 125px 18vw 10px 18vw; } }
