#header {
  position: fixed;
  width: 100%; }

#whiteHeader {
  background-color: #ffffff;
  height: 55px; }
  @media only screen and (min-width: 671px) {
    #whiteHeader {
      max-height: 75px;
      display: flex;
      justify-content: center; } }
  @media only screen and (min-width: 992px) {
    #whiteHeader {
      max-height: 80px; } }

#headerBG {
  display: none; }
  @media only screen and (min-width: 671px) {
    #headerBG {
      display: initial;
      position: absolute;
      top: 20%; } }

#logo {
  position: relative; }
  @media only screen and (min-width: 671px) {
    #logo {
      position: absolute; } }

.plusImg {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px; }
  .plusImg .plus {
    height: 45px; }
  .plusImg .plusHover {
    display: none; }
  .plusImg:hover .plus {
    display: none; }
  .plusImg:hover .plusHover {
    display: block; }

#greyHeader {
  background-color: #3A3A3D;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  @media only screen and (min-width: 671px) {
    #greyHeader {
      height: 50px;
      justify-content: center; } }

.dot {
  display: none;
  color: #818285; }
  @media only screen and (min-width: 671px) {
    .dot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1px;
      text-align: center; } }

.favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 25%;
  text-align: center;
  border-right: 1px solid #818285;
  font-family: "Oswald", sans-serif;
  color: #818285; }
  .favorites:last-child {
    border: 0; }
  .favorites:hover {
    color: #eb582a;
    cursor: pointer; }
  @media only screen and (min-width: 671px) {
    .favorites {
      border-right: none;
      width: auto; } }

#content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 100px 10px 10px 10px; }
  @media only screen and (min-width: 671px) {
    #content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 125px 1.5vw 10px 1.5vw; } }
  @media only screen and (min-width: 1201px) {
    #content {
      padding-top: 125px;
      width: 50%;
      margin-left: auto;
      margin-right: auto; } }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  @media only screen and (min-width: 671px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 1201px) {
    .container {
      margin-left: auto;
      margin-right: auto; } }

.subContent {
  background-color: #FFFFFF;
  padding: 10px;
  width: 95%;
  margin-top: 10px;
  align-items: center;
  height: 375px;
  overflow: auto;
  margin-left: auto;
  margin-left: auto; }
  @media only screen and (min-width: 671px) {
    .subContent {
      width: 39vw;
      height: 42vw;
      margin: 1.5vw;
      padding: 20px; } }
  @media only screen and (min-width: 1201px) {
    .subContent {
      width: 19vw;
      height: 20vw;
      margin: 10px;
      padding: 20px; }
      .subContent:hover {
        border: 8px solid #F7941E;
        padding: 12px; } }

.subImg {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  overflow: hidden; }
  @media only screen and (min-width: 1201px) {
    .subImg {
      max-height: 200px; } }

.redditImage {
  width: 100%;
  height: auto;
  object-fit: cover; }

.title {
  font-family: "Oswald", sans-serif;
  color: #3A3A3D;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
  color: #818285;
  font-size: 16px;
  margin-top: 5px; }
  @media only screen and (min-width: 671px) {
    .stats {
      font-size: 11px; } }

.statDot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px; }

.selfText {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 14px;
  width: auto;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }
  @media only screen and (min-width: 671px) {
    .selfText {
      -webkit-line-clamp: 4; } }

.search {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif; }
  @media only screen and (min-width: 671px) {
    .search {
      margin-top: 20%; } }

.searchInput {
  width: 100%;
  height: 30px;
  border: 1px solid #818285;
  border-radius: 6px; }

.submitSearch {
  display: block;
  margin: 10px;
  padding: 5px 20px;
  border: 1px solid #3A3A3D;
  color: #3A3A3D;
  background-color: #818285;
  border-radius: 6px; }
  .submitSearch:hover {
    background-color: #F7941E; }

.errorNotice {
  font-family: "Oswald", sans-serif;
  color: white;
  display: none; }

.footerImg {
  display: none; }

@media only screen and (min-width: 1201px) {
  #footer {
    height: 50px;
    background-color: #3A3A3D;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%; }
  .footerImg {
    display: flex;
    justify-content: center;
    padding: 5px; }
    .footerImg .orange {
      display: none; }
    .footerImg:hover .gray {
      display: none; }
    .footerImg:hover .orange {
      display: block; } }

body {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  margin: 0px;
  align-items: center; }
